MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/monotributo_saas?retryWrites=true&w=majority
JWT_SECRET=cambia-esto-por-un-secreto-largo
GOOGLE_CLIENT_ID=563314918577-9iiu71gcqns1n7206c01m7a76ncgkhei.apps.googleusercontent.com
CORS_ORIGIN=https://payday-ziem.vercel.app
PORT=5000
